/***********************************************
                COLOUR NOTES
light blue  #C7F7FF
med blue    #89C0C9
dark blue   #3a5E63

light brown #C9A689
dark brown  #7C593C

light grey  #d4d4d4
dark grey   #222

                DEFAULTS
***********************************************/
$light_blue:#C7F7FF;
$med_blue:#89C0C9;
$dark_blue:#3a5E63;

$light_brown:#C9A689;
$dark_brown:#7C593C;

$light_grey:#d4d4d4;
$dark_grey:#222;
$font_family_de: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;
$font_family_header:Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
/***********************************************
                SPECIAL
***********************************************/



/***********************************************
                LAYOUT
***********************************************/
$white: #fff;



/***********************************************
                NAVIGATION
***********************************************/




/***********************************************
                CONTENT
***********************************************/

$content2_span_b_color:rgba(255,255,255,0.8);
$content_h_fontsize:1.999rem;
$content2_fontsize:1.414rem;

/***********************************************
                FOOTER
***********************************************/



















